.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.content p {

    margin-left: 15px;
}

#updateInput {
    margin: 15px;
    height: 30px;
    width: 175px;}

.button_group {
    display: flex;
}

#updateInput.hidden, #updateBtn.hidden, #editBtn.hidden, #title.hidden, #deleteBtn.hidden, #cancelBtn.hidden {
    display: none;
}

#updateInput, #updateBtn, #editBtn, #title, #deleteBtn, #cancelBtn {
    display: block;
}
