<div class="todolist">
    <app-todolist-search-bar (add)="addTodo($event)"></app-todolist-search-bar>
    <div class="todolist__item-list" >
        <app-todolist-item *ngFor="let todo of todos.reverse(); let i = index"
                            [ngClass]="{'last': i === (todos.length - 1)}" 
                            [todo]="todo" 
                            (delete)="deleteTodo($event)" 
                            (update)="updateTodo($event.idUpdate,$event.titleUpdate)">
        </app-todolist-item>
    </div>
  </div>