.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content input {
    margin: 15px;
    height: 30px;
}

.content p-button {

    margin-right: 10px;
    transform: scale(0.6);
    

}
