@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeicons/primeicons.css';



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: var(--font-family);
}